
@{
    ViewBag.Title = "Books";
}

@model IEnumerable<WeBookShop.Service.Abstract.BaseEntity>
@{
    Layout = null;
}

<script type="text/javascript">
    function Search() {
        var request = document.getElementById('search');
        var table = document.getElementById('table');
        var reg = new RegExp(request.value, 'i');
        var Chosen = false;


        for (var i = 1; i < table.rows.length; i++) {
            Chosen = false;

            for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                Chosen = reg.test(table.rows[i].cells[j].innerHTML);
                if (Chosen) break;
            }
            for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                if (Chosen) {
                    table.rows[i].cells[j].style.display = "";
                    table.rows[i].cells[j].style.backgroundColor = "red";
                }
                else {

                    table.rows[i].cells[j].style.display = "";

                    table.rows[i].cells[j].style.backgroundColor = "white";
                }
            }
        }
    }

    function SendId(Id) {
       
        return Id;
    }
</script>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>BookShop</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Helvetica:400,300" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>


<style>

    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>

<p class="fig">
    <img src="~/img/hero1.jpg"
         width="1263" height="320" alt="Фотография">

</p>


<div class="center">
    <nav>
        <ul class="top-menu">
            <li><a href="~/Home/Index">ГЛАВНАЯ</li>
            <li><a href="~/Home/News">НОВОСТИ</a></li>
            <li><a href="~/Home/Table">ДОСТАВКА</a></li>
            <li><a href="~/Home/Contact">ОБРАТНАЯ СВЯЗЬ</a></li>
            <li><a href="~/Home/About">О МАГАЗИНЕ</a></li>



        </ul>
    </nav>
</div>

<aside>
    <nav>
        <ul class="aside-menu">

            <li><a href="~/Book/Books">КНИГИ</a></li>
            <li><a href="~/Category/Categorys">КАТЕГОРИИ</a></li>

        </ul>
    </nav>
</aside>

<div class="center">
    <h2>Книги</h2>

    @{ var grid = new WebGrid(Model); }
    <input class=form-control id="search" onkeyup=Search() placeholder="Поиск" type="text">
    <br><br>

    


    <div class="table-responsive">
        <table class="table-bordered" id=table>
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Название</th>
                    <th scope="col">Аннотация</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Редактировать</th>
                    <th scope="col">Удалить</th>

                </tr>
            </thead>
            <tbody>






                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Редактирование</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Перейти к редактированию?
                            </div>
                            <div class="modal-footer">
                                
                                



                                <form id="form1">
                                    <button type="submit" id="SubButton" class="btn btn-primary">Редактировать</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle1">Удаление</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Удалить выбранную книгу?
                            </div>
                            <div class="modal-footer">

                                <form action="~/Book/DeleteBook/Book1">
                                    <button type="submit" class="btn btn-primary">Удалить</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>



                @foreach (WeBookShop.Models.Book n in Model)
                {
                    <tr>
                        <th scope="row">@n.Id</th>
                        <td>@n.Author</td>

                        <td>@n.Name</td>
                        <td>@n.Annotation</td>

                        <td>@n.Price</td>

                        <td>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" id="EditButton" onclick="document.getElementById('form1').action = 'EditBook/' + @n.Id;"> Редактировать</button>

                                    
                         

                        </td>


                        <td>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong1" onclick="SendId(@n.Id)">Удалить</button>

                        </td>



                    <!--   <td><a href="~/Notice/EditBook/@n.Id">Редактировать</a></td>
        <td><a href="~/Notice/DeleteBook/@n.Id" onclick="return confirm('Выбранная книга будет удалена');"> Удалить</a></td>
          -->
                    </tr>
                    }
                </tbody>
        </table>
        <br>

        <input type="button" value="Добавить" onClick='location.href="CreateBook"'>








    </div>
</div>
